.card {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  height: 90px;
  width: 60px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card.selected {
  border: 2px solid blue;
}

.card:hover {
  background-color: rgb(234, 234, 234);
}

.card > p {
  margin: 0px;
  height: 33%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: larger;
}

.card > span {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  margin: 0px;
  animation: spanFlash 2s infinite;
}

@keyframes spanFlash {
  0% { color: rgba(0, 255, 255, 0.2); }
  50% { color: rgba(0, 255, 255, 0.6); }
  100% { color: rgba(0, 255, 255, 0.2); }
}

.card.red > p {
  color: red;
}

.card.black > p {
  color: black;
}

.card.disabled {
  background-color: rgb(211, 211, 211);
}

.topleft {
  text-align: left;
}

.midSymbol {
  text-align: center;
  font-size: xx-large;
}

.botRight {
  text-align: end;
}