.creature {
  border: 2px solid gray;
  width: 130px;
  height: 150px;
  border-radius: 5px;
  margin: 0px 5px;
}

.creature.default {
  background-color: lightgray;
}

.creature.tapped {
  background-color: lightcoral;
}

.creature.selected {
  border: 2px solid blue;
}

.creature.combat {
  border: 2px solid red;
}

.creature.targeted.default {
  animation: creatureTargetDefaultCycle 2s infinite
}

.creature.targeted.tapped {
  animation: creatureTargetTappedCycle 2s infinite
}

@keyframes creatureTargetDefaultCycle {
  0% {background: rgb(245, 110, 0)}
  50% {background: lightgray}
  100% {background: rgb(245, 110, 0)}
}

@keyframes creatureTargetTappedCycle {
  0% {background: rgb(245, 110, 0)}
  50% {background: lightcoral}
  100% {background: rgb(245, 110, 0)}
}

.creature.active {
  background-color: green;
}

thead > tr {
  height: 25px;
}

td {
  text-align: center;
}

.buffRow {
  background-color: rgb(71, 71, 71);
  height: 25px;
}

.buffText {
  color: rgb(255, 255, 255);
}